<header>
  <div class="logo">
    <button matTooltip="Menu principal" mat-icon-button aria-label="Botão de ação do menu lateral">
      <mat-icon>menu</mat-icon>
    </button>
    <img matTooltip="Gmail" ngSrc="/images/logo_gmail.png" width="110" height="40" priority>
  </div>
  
  <app-search-bar />

  <div class="actions">
    <button matTooltip="Suporte" mat-icon-button aria-label="Botão de ação do suporte">
      <mat-icon>help</mat-icon>
    </button>
    <button matTooltip="Configurações" mat-icon-button aria-label="Botão de ação das configurações">
      <mat-icon>settings</mat-icon>
    </button>
    <button matTooltip="Pedir para Gemini" mat-icon-button aria-label="Botão de ação de pedir para o Gemini">
      <img ngSrc="/images/gemini-icon.png" width="28" height="28" />
    </button>
    <button matTooltip="Google Apps" mat-icon-button aria-label="Botão de ação do Google Apps">
      <mat-icon>apps</mat-icon>
    </button>
    <button matTooltip="Conta do Google" class="img-button" aria-label="Botão de ação da conta Google">
      <img class="google-border-rounded " ngSrc="/images/google-perfil.png" width="32" height="32" />
    </button>
  </div>
</header>