header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: var(--space-sm);
  padding: 0px var(--space-md);
}

.logo {
  display: flex;
  gap: var(--space-sm);
  width: var(--sidebar-width);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-left: auto;
}

.img-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;


  &:hover {
    cursor: pointer;
  }

}